@page "/"

<PageTitle>Alpine F1 - Circuit tyre deg information</PageTitle>

<h1>Alpine F1 - Circuit tyre deg information</h1>

Please find the relevant details for the tyres and the circuits in the menu!
